@import "tailwindcss";


:root {
  width: 100%;
  overflow-x: hidden;
}

/* Mobile-only styles - hide content and show message */
@media (max-width: 768px) {
  .pageAll {
    display: none;
  }

  .memberSectionMobile {
    display: flex !important;
    background: #e46e72;
  }

  .heroContMobile {
    display: flex !important;
    background: #e46e72;
    background: linear-gradient(to top, #e46e72 0%, white 80%);
    width: 100%;
    height: 100vh;
    border-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heroContBgMobile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 30px 0;
    z-index: 10;
    background-color: white;
    border-radius: 20px;
    pointer-events: none;

  }

  .heroButtonMobile {
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
    padding: 6px;
    background-color: #e46e72;
    width: 200px;
    border-radius: 10px;
  }

  .heroImageMobile {
    position: relative;
    width: 80vw;
    height: 30vh;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    pointer-events: none;
  }

  .heroTitleTextMobile {
    font-size: 20px;
    background: linear-gradient(90deg, black 20%, #CF2030 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

@media (min-width: 768px) {
  .memberSectionMobile {
    display: none !important;
  }
}

.pageAll {
  position: relative;
  /* transform: translate3d(0, 0, 0); 
  will-change: transform;  */
}

.navCont {
  z-index: 1000;
}

.heroCont {
  /* background: radial-gradient(ellipse at 50% 100%, #CF203099 0%, white 70%); */
  background: #ffffff;
  width: calc(100% - 40px);
  height: 130vh;
  min-height: 1000px;
  max-height: 1400px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
  mask-image: linear-gradient(to bottom, black calc(100% - 100px), transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black calc(100% - 100px), transparent 100%);
  transform: translate3d(0, 0, 0);
  /* Force hardware acceleration */
  will-change: transform;
  /* Optimize for animations */
}

.heroContBg {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: radial-gradient(ellipse at 50% 100%, #CF203099 0%, transparent 70%);
  border-radius: 20px;
  pointer-events: none;
}

.heroContParticles {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
}

.heroTitleText {
  margin-top: 150px;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  background: linear-gradient(90deg, black 20%, #CF2030 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  z-index: 2;
}

.heroSubText {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 10px;
  background: linear-gradient(90deg, black 20%, #CF2030 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  z-index: 2;
}

.heroButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroButton {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 6px;
  background-color: #ffffff90;
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 300;

  &:hover {
    background-color: #CF2030;
    color: white;
  }
}

.heroButtonGlass {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  z-index: 100;
}

.heroRiveContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.aboutSection {
  margin-top: 40px;
  width: 100%;
  height: 80vh;
}

.aboutLeft {
  min-width: 300px;
}

.aboutRedBox {
  background: #e46e72;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50vh;
  padding-left: 0;
  overflow: visible;
  border-radius: 20px;
}

.aboutHandshakeContainer {
  position: relative;
  width: 60%;
  height: 80%;
  left: -10%;
  z-index: 30;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);

}

.aboutHandshake {
  z-index: 30;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
}

.aboutMemberBox {
  /* position: absolute;
  bottom: 0;
  right: 60px; */
  /* background: white; */
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 12px;
  padding: 10px;

  /* height: 80px;
  width: 100px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 100; */
  /* background-color: #000; */
}

.aboutMemberBoxFirefox {
  /* position: absolute;
  bottom: 0;
  right: 60px; */
  /* background: white; */
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 12px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* height: 80px;
  width: 100px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 100; */
  /* background-color: #000; */
}

.aboutMemberIcon {
  filter: invert(1);
}

.aboutButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40vw;
  height: 10px;
  margin-top: 40px;
}

.aboutButton {
  position: relative;
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000B3;
  text-align: center;
  padding: 6px;

  width: 400px;
  border-radius: 20px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease;


}

.aboutButtonFirefox {
  position: relative;
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000B3;
  text-align: center;
  margin-top: -20px;

  width: 200px;
  border-radius: 20px;

  cursor: pointer;
  transition: all 0.3s ease;

  padding: 8px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: #CF2030;
    color: white;
  }
}

.aboutRight {
  padding: 20px;
  width: 40vw;
}

.memberSection {
  width: calc(100% - 40px);
  min-height: 100vh;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Add this to contain absolute positioned children */
  /* background: radial-gradient(ellipse at 100% 100%, #fff 0%, #fff 100%); */
  /* background: radial-gradient(ellipse at 100% 100%, #CF2030B3 0%, #CF2030B3 100%); */
  /* background: #cf202f6d; */
  background: #e46e72;
  overflow: hidden;
  /* Add this to clip particles to the section */
}

.membersTitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  /* background: linear-gradient(90deg, black 20%, #CF2030 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
  color: white;
}

.memberGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90vw;
  gap: 1.25rem;
  position: relative;
  height: auto;
  margin-bottom: 7.5rem;
}

.memberContParticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 0.3;
}