/* CSS Module styles for MemberCardSmall component */
@media (max-width: 768px) {
  .rimLight {
    display: none;
  }
}
.memberCardContainer {
  position: relative;
  width: calc(((90vw - 80px) / 3) - 10px);
  min-width: 350px;
  max-width: 400px;
  height: 250px;
  border-radius: 32px;
}

.memberCard {
  border-radius: 40px 5px 40px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  width: 100%;
  padding: 20px;
  background: transparent;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  /* will-change: transform; */
  overflow: visible;
  z-index: 10;
}

/* .memberCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px 5px 40px 40px;
  padding: 2px;
  margin: 2px;
  background: #CF2030;
  background-size: 200% 200%;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
} */


.rimLight {
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  margin: 1px;
  border-radius: 40px 5px 40px 40px;
  background: radial-gradient(circle at var(--mouse-x, 50%) var(--mouse-y, 50%), 
              rgba(247, 247, 247, 0.5) 0%, 
              transparent 70%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: -1;
}

.memberCard:hover .rimLight {
  opacity: 1;
}
.cardBGLayer {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 40px 5px 40px 40px;
  /* background: grey; */
  background: #c54144;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: auto;
  z-index: -1;
}
.downloadButton {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #ffffff;
  cursor: pointer;
  z-index: 11;
}
.downloadButton p{
  font-size: 14px;
}





